@font-face {
  font-family: "Rubik";
  src: url(/assets/fonts/Rubik-VariableFont_wght.ttf);
}

@view-transition {
  navigation: auto;
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  [role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  /* h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  } */

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

@layer base {
  :root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-black: #000000;
    --clr-Grey-500: #626c7f;
    --clr-Grey-50: #f4f6fa;
    --clr-Blue-950: #2d3949;
    --clr-Blue-900: #313e51;
    --clr-Blue-850: #3b4d66;
    --clr-Blue-500: #306aff;
    --clr-Blue-300: #abc1e1;
    --clr-Blue-100: #edf1f9;
    --clr-Blue-50: #ebf0ff;
    --clr-Green-500: #2fd887;
    --clr-Green-100: #e0fdef;
    --clr-Purple-600: #a729f5;
    --clr-Purple-100: #f6e7ff;
    --clr-Orange-400: #ff7e35;
    --clr-Orange-50: #fff5ed;
    --clr-Red-500: #ee5454;

    --ff-body: "Rubik", sans-serif;
    --ff-heading: "Rubik", sans-serif;

    --fs-600: 1.4rem;
    --fs-700: 1.8rem;
    --fs-750: 2rem;
    --fs-800: 2rem;
    --fs-900: 4rem;
    --fs-1000: 8.8rem;

    --pattern-background: url(/assets/images/pattern-background-mobile-light.svg);

    --border-radius-1: 1.2rem;
    --border-radius-2: 0.6rem;

    --icon-sun: url(/assets/images/icon-sun-dark.svg);
    --icon-moon: url(/assets/images/icon-moon-dark.svg);

    /* Tablet */
    @media (width > 592px) {
      --fs-600: 2.4rem;
      --fs-700: 2.8rem;
      --fs-800: 3.6rem;
      --fs-900: 6.4rem;
      --fs-1000: 14.4rem;

      --border-radius-1: 2.4rem;
      --border-radius-2: 1.2rem;

      --pattern-background: url(/assets/images/pattern-background-tablet-light.svg);
    }

    /* Desktop */
    @media (width > 1132px) {
      --pattern-background: url(/assets/images/pattern-background-desktop-light.svg);
    }
  }

  :root {
    --text-main: var(--clr-Blue-900);
    --text-light: var(--clr-Grey-500);
    --text-high-contrast: var(--clr-white);

    --background-accent-main: var(--clr-Purple-600);

    --background-light: var(--clr-white);
    --background-main: var(--clr-Grey-50);

    --font-size-heading-small: var(--fs-800);
    --font-size-heading-regular: var(--fs-900);
    --font-size-heading-xl: var(--fs-1000);

    --font-size-sm: var(--fs-600);
    --font-size-regular: var(--fs-700);
    --font-size-md: var(--fs-750);
    --font-size-lg: var(--fs-800);

    --br-1: var(--border-radius-1);
    --br-2: var(--border-radius-2);

    &:has(#theme:checked) {
      --text-main: var(--clr-white);
      --text-light: var(--clr-Blue-300);

      --background-main: var(--clr-Blue-900);
      --background-light: var(--clr-Blue-850);

      --pattern-background: url(/assets/images/pattern-background-mobile-dark.svg);

      --icon-sun: url(/assets/images/icon-sun-light.svg);
      --icon-moon: url(/assets/images/icon-moon-light.svg);

      /* Tablet */
      @media (width > 592px) {
        --pattern-background: url(/assets/images/pattern-background-tablet-dark.svg);
      }

      /* Desktop */
      @media (width > 1132px) {
        --pattern-background: url(/assets/images/pattern-background-desktop-dark.svg);
      }
    }
  }

  html {
    font-family: var(--ff-body);
    font-size: 62.5%;
    /* line-height: 1.6; */
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }

  body {
    font-size: var(--font-size-regular);
    color: var(--text-main);
    background-color: var(--background-main);
    background-image: var(--pattern-background);
    background-size: cover;
    min-height: 100dvh;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--ff-heading);
    color: var(--text-main);
  }

  h1 {
    font-size: var(--font-size-heading-regular);
    font-weight: 300;

    span {
      display: block;
      font-weight: 600;
    }
  }

  h2 {
    font-size: var(--font-size-heading-small);
    font-weight: 500;
  }
}

@layer layout {
  .wrapper {
    max-width: 115.7rem;
    margin-inline: auto;
    padding-inline: 2.4rem;

    box-sizing: content-box;

    @media (width > 592px) {
      padding-inline: 6.4rem;
    }
  }

  .flow > * + * {
    margin-top: var(--flow-spacer, 1em);
  }

  nav {
    padding-block: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.2rem;
    flex-wrap: wrap-reverse;
    gap: 3rem 1rem;

    @media (width > 592px) {
      height: 12.9rem;
      margin-bottom: 0;
    }

    @media (width > 1132px) {
      height: 22.4rem;
    }
  }

  main {
    margin-bottom: 10rem;

    @media (width > 1132px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 12.8rem;
    }
  }
}

@layer components {
  .theme-switch {
    --switch-height: 2rem;
    --switch-width: 3.2rem;

    height: var(--switch-height);
    display: flex;
    gap: 0.8rem;

    &::before {
      content: "";
      display: block;
      width: var(--switch-height);
      height: 100%;
      background-image: var(--icon-sun);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    &::after {
      content: "";
      display: block;
      width: var(--switch-height);
      height: 100%;
      background-image: var(--icon-moon);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    label {
      width: var(--switch-width);
      background-color: var(--background-accent-main);
      border-radius: 999rem;
      position: relative;
      cursor: pointer;

      &::before {
        content: "";
        display: block;
        width: calc(var(--switch-height) * 0.7);
        height: calc(var(--switch-height) * 0.7);
        border-radius: 999rem;
        background-color: var(--text-high-contrast);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0.4rem;
      }
    }

    &:has(#theme:checked) {
      label::before {
        left: unset;
        right: 0.4rem;
      }
    }

    @media (width > 592px) {
      --switch-height: 2.8rem;
      --switch-width: 4.8rem;
    }
  }

  header {
    margin-bottom: 4rem;

    h1 {
      margin-bottom: 1.6rem;
    }

    h2 {
      margin-block: 1em 1.3em;
    }

    p {
      font-size: var(--font-size-sm);
      font-style: italic;
      line-height: 150%;
      color: var(--text-light);
    }

    @media (width > 592px) {
      margin-bottom: 6.4rem;
    }

    @media (width > 1132px) {
      flex-basis: 50%;
    }
  }

  .section-logo {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: var(--font-size-regular);
    color: var(--text-main);
    font-weight: 600;

    img {
      border-radius: var(--br-2);
      width: 2em;
      height: 2em;
      padding: 0.2em;
    }
  }

  .quiz-selection {
    flex-basis: 50%;
    ul {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      margin-bottom: 1.6rem;
    }

    a,
    label {
      height: 7.2rem;
      display: flex;
      align-items: center;
      gap: 1em;
      background-color: var(--background-light);
      border-radius: var(--br-1);
      padding: 1.6rem;
      text-decoration: none;
      color: var(--text-main);
      font-weight: 500;
      cursor: pointer;

      img {
        padding: 0.57rem;
        border-radius: var(--br-2);
        height: 100%;
      }
    }

    input:checked + label {
      border: 0.3rem solid var(--background-accent-main);

      .badge {
        background-color: var(--background-accent-main);
        color: var(--text-high-contrast);
      }
    }

    @media (width > 592px) {
      ul {
        gap: 2.4rem;
        margin-bottom: 3.2rem;
      }

      a,
      label {
        height: 8.8rem;
      }
    }

    @media (width > 1132px) {
      a,
      label {
        height: 10.4rem;
        padding: 2.4rem;
      }
    }
  }

  .progress {
    --progress-percent: 90;

    height: 1.6rem;
    border-radius: 999rem;
    background-color: var(--background-light);
    padding: 0.4rem;

    &::before {
      content: "";
      display: block;
      height: 100%;
      background-color: var(--background-accent-main);
      width: calc(var(--progress-percent) * 1%);
      border-radius: 999rem;
    }
  }

  .badge {
    width: 2.1em;
    height: 2.1em;
    background-color: var(--clr-Grey-50);
    color: var(--clr-Grey-500);
    border-radius: var(--border-radius-2);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button {
    display: block;
    width: 100%;
    border: none;
    background-color: var(--background-accent-main);
    text-align: center;
    color: var(--text-high-contrast);
    padding: 0.6em;
    border-radius: var(--border-radius-1);
    font-size: var(--font-size-regular);
  }

  .score {
    flex-basis: 50%;
  }

  .score__container {
    background-color: var(--background-light);
    padding: 3.2rem;
    border-radius: var(--border-radius-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.6rem;
    margin-bottom: 1.6rem;
    line-height: 1;

    @media (width > 592px) {
      padding: 4.8rem;
      margin-bottom: 3.2rem;
    }
  }

  .score__value {
    font-size: var(--font-size-heading-xl);
    font-weight: 500;
  }

  .score__text {
    font-weight: 500;
    color: var(--text-light);
  }
}

@layer utilities {
  [hidden] {
    display: none;
  }

  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .text-center {
    text-align: center;
  }

  .text-main {
    color: var(--text-main);
  }

  .text-light {
    color: var(--text-light);
  }

  .bg-accent-main {
    background-color: var(--background-accent-main);
  }

  .bg-light {
    background-color: var(--background-light);
  }

  .bg-main {
    background-color: var(--background-main);
  }

  .bg-orange {
    background-color: var(--clr-Orange-50);
  }
  .bg-green {
    background-color: var(--clr-Green-100);
  }
  .bg-blue {
    background-color: var(--clr-Blue-100);
  }
  .bg-purple {
    background-color: var(--clr-Purple-100);
  }

  .font-size-heading-regular {
    font-size: var(--font-size-heading-regular);
  }

  .font-size-heading-xl {
    font-size: var(--font-size-heading-xl);
  }

  .font-size-sm {
    font-size: var(--font-size-sm);
  }

  .font-size-regular {
    font-size: var(--font-size-regular);
  }

  .font-size-md {
    font-size: var(--font-size-md);
  }

  .font-size-lg {
    font-size: var(--font-size-lg);
  }

  .border-radius-1 {
    border-radius: var(--br-1);
  }

  .border-radius-2 {
    border-radius: var(--br-2);
  }
}
